/*
 ┌────────────────────────────┐
 │   __             _         │
 │  / _│ ___  _ __ │ │_ ___   │
 │ │ │_ / _ \│ '_ \│ __/ __│  │
 │ │  _│ (_) │ │ │ │ │_\__ \  │
 │ │_│  \___/│_│ │_│\__│___/  │
 └────────────────────────────┘ */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@font-face {
        font-family: "Fantasque Sans Mono";
        src: url("fonts/FantasqueSansMono-Regular.woff2") format("woff2");
        /* Chrome < 4, Legacy iOS */
        font-weight: 400;
        font-style: normal;
}

/*
 ┌────────────────────────────────────────────────┐
 │                   _       _     _              │
 │  __   ____ _ _ __(_) __ _│ │__ │ │ ___  ___    │
 │  \ \ / / _` │ '__│ │/ _` │ '_ \│ │/ _ \/ __│   │
 │   \ V / (_│ │ │  │ │ (_│ │ │_) │ │  __/\__ \   │
 │    \_/ \__,_│_│  │_│\__,_│_.__/│_│\___││___/   │
 └────────────────────────────────────────────────┘ */

:root {
        /* --font-main: Lora, "Lora Serif", serif; */
        --font-main: "EB Garamond", serif;
        --font-code: "Fantasque Sans Mono", monospace;
        --paragraph-size: 1.3rem;
        --paragraph-width: 36.875rem;
        --paragraph-width-max: 100%;
        --paragraph-line-height: 2.3rem;
        --paragraph-font-weight: 500;
        --paragraph-font-bold-weight: 700;
        --paragraph-text-rendering: antialiased;
        --code-size: 0.95rem;
        --code-text-rendering: optimizeSpeed;
        --code-line-height: 1.37rem;
        --header-width: 46.25rem;
        --header-width-max: 100%;
        --header-font-weight: 500;
        --header-text-rendering: antialiased;
        --subtitle-size: 1.37rem;
        --quote-size: 1.2rem;
        --quote-line-height: 1.6rem;
        --quote-width: 34.375rem;
        --media-width: 43.125rem;
        --gallery-width: 99%;
        --table-size: 1.2rem;
        --details-size: 1.15rem;
        --footnote-size: 1rem;
        --math-size: 1.37rem;
        /* Colors, duh */
        --color-text: #3a1616;
        --color-header: #c31585;
        --color-header-hover: #a53221;
        --color-bg: #fffff4;
        --color-white: #fff;
        --color-selection: #ffdcf4;
        --color-link: #ff50a2;
        --color-link-visited: #5e416d;
        --color-subtitle: #7a2518;
        --code-bg: #fffbfd;
}

/*
 ┌───────────────────────────┐
 │  _               _        │
 │ │ │__   ___   __│ │_   _  │
 │ │ '_ \ / _ \ / _` │ │ │ │ │
 │ │ │_) │ (_) │ (_│ │ │_│ │ │
 │ │_.__/ \___/ \__,_│\__, │ │
 │                    │___/  │
 └───────────────────────────┘ */

.article {
        background: var(--color-bg);
        color: var(--color-text);
        font-family: var(--font-main);
        text-rendering: var(--paragraph-text-rendering);
        -webkit-font-smoothing: var(--paragraph-text-rendering);
        font-weight: var(--paragraph-font-weight);
        font-style: normal;
        line-height: 1;
        position: relative;
        cursor: auto;
        tab-size: 4;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 3rem;
}

.katex-html {
        font-size: 87%;
}

/*
 ┌─────────────────────────────────────┐
 │   _                    _            │
 │  │ │__   ___  __ _  __│ │ ___ _ __  │
 │  │ '_ \ / _ \/ _` │/ _` │/ _ \ '__│ │
 │  │ │ │ │  __/ (_│ │ (_│ │  __/ │    │
 │  │_│ │_│\___│\__,_│\__,_│\___│_│    │
 └─────────────────────────────────────┘ */

.header {
        width: var(--header-width);
        max-width: var(--header-width-max);
}

.header .menu {
        font-size: var(--details-size);
        border-bottom: 1px solid #dddddf;
        line-height: 1.45;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.25em;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        -ms-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: left;
        align-content: flex-star;
        align-items: flex-start;
}

.header .menu span:first-child {
        margin-left: -0.125em;
}

.header .menu span.email a {
        color: rgba(0, 0, 0, 0.85);
}

.header .menu br {
        display: none;
}

.header .menu br + span::before {
        content: "\00a0\2013\00a0";
}

.header .menu br + span.author::before {
        content: "\00a0\22c5\00a0";
        color: rgba(0, 0, 0, 0.85);
}

.header > .section-1:first-child {
        color: rgba(0, 0, 0, 0.85);
        margin-top: 2.25rem;
        margin-bottom: 0;
}

.header > .section-1:only-child {
        border-bottom: 1px solid #dddddf;
        padding-bottom: 8px;
}

.header,
.writing {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        zoom: 1;
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
}

.header::after {
        clear: both;
}

/*
 ┌─────────────────────────────────────┐
 │                _ _   _              │
 │ __      ___ __(_) │_(_)_ __   __ _  │
 │ \ \ /\ / / '__│ │ __│ │ '_ \ / _` │ │
 │  \ V  V /│ │  │ │ │_│ │ │ │ │ (_│ │ │
 │   \_/\_/ │_│  │_│\__│_│_│ │_│\__, │ │
 │                              │___/  │
 └─────────────────────────────────────┘ */

.writing {
        width: var(--paragraph-width);
        max-width: var(--paragraph-width-max);
        font-size: var(--paragraph-size);
        line-height: var(--paragraph-line-height);
        font-family: inherit;
        font-weight: var(--paragraph-font-weight);
        line-height: var(--paragraph-line-height);
        margin-top: 1rem;
        margin-bottom: 0.625rem;
        text-rendering: inherit;
        -webkit-font-smoothing: inherit;
        -webkit-hyphens: auto;
        hyphens: auto;
}

.writing::before {
        content: none;
}

/*
 ┌──────────────────────┐
 │  _ _       _         │
 │ │ (_)_ __ │ │ _____  │
 │ │ │ │ '_ \│ │/ / __│ │
 │ │ │ │ │ │ │   <\__ \ │
 │ │_│_│_│ │_│_│\_\___/ │
 └──────────────────────┘ */

a:not(.image):not(.gallery-item) {
        cursor: pointer;
        text-decoration: none;
        border-bottom: 1px solid var(--color-text);
        color: var(--color-text);
        line-height: inherit;
        transition: 80ms;
        font-size: 100%;
        letter-spacing: -0.03rem;
}

a:not(.image):not(.gallery-item):hover {
        /* color: white; */
        color: var(--color-link);
        border-bottom: none;
        /* background-color: var(--color-link); */
}

/*
 ┌────────────────────────────────────────┐
 │                _   _                   │
 │  ___  ___  ___│ │_(_) ___  _ __  ___   │
 │ / __│/ _ \/ __│ __│ │/ _ \│ '_ \/ __│  │
 │ \__ \  __/ (__│ │_│ │ (_) │ │ │ \__ \  │
 │ │___/\___│\___│\__│_│\___/│_│ │_│___/  │
 └────────────────────────────────────────┘ */

.section-1:last-child {
        padding-bottom: 0;
}

.paragraph + .section-2 {
        border-top: 1px solid #e7e7e9;
}

.paragraph + .section-3 {
        margin-top: 2rem;
}

.paragraph + .paragraph {
        margin-top: 2rem;
}

.section-2:first-of-type {
        margin-top: -0.7rem;
}

.section-2,
.section-3,
.section-4,
.section-5,
.section-6 {
        page-break-after: avoid;
        letter-spacing: -0.005rem;
        font-family: inherit;
        font-weight: var(--header-font-weight);
        color: var(--color-header);
        text-rendering: var(--header-text-rendering);
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
}

.section-1 {
        padding-top: 0.2rem;
        line-height: 4rem;
        font-size: 3.37rem;
        font-weight: 500;
        letter-spacing: -0.01rem;
}

@media all and (max-width: 640px) {
        .section-1 {
                font-size: 2.6rem;
                line-height: 2.9rem;
        }
}

.section-2 {
        padding-top: 2.7rem;
        font-size: 2.2rem;
}

.section-3 {
        font-size: 1.7rem;
}

/* .section-3 + .section-3 { */
/*         margin-top: 1.8rem; */
/* } */

.section-4,
.section-5 {
        font-size: 1.125rem;
}

.section-6 {
        font-size: 1rem;
}

/*
 ┌──────────────────────────────┐
 │                    _         │
 │   __ _ _   _  ___ │ │_ ___   │
 │  / _` │ │ │ │/ _ \│ __/ _ \  │
 │ │ (_│ │ │_│ │ (_) │ ││  __/  │
 │  \__, │\__,_│\___/ \__\___│  │
 │     │_│                      │
 └──────────────────────────────┘ */

.quote {
        font-size: var(--quote-size);
        line-height: var(--quote-line-height);
        max-width: var(--quote-width);
        display: block;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
}

/*
 ┌────────────────────────────────┐
 │                 _              │
 │   ___ ___ _ __ │ │_ ___ _ __   │
 │  / __/ _ \ '_ \│ __/ _ \ '__│  │
 │ │ (_│  __/ │ │ │ ││  __/ │     │
 │  \___\___│_│ │_│\__\___│_│     │
 └────────────────────────────────┘ */

.center {
        text-align: center;
}

/*
 ┌──────────────────────────────────────────┐
 │      _                                   │
 │   __│ │_ __ ___  _ __   ___ __ _ _ __    │
 │  / _` │ '__/ _ \│ '_ \ / __/ _` │ '_ \   │
 │ │ (_│ │ │ │ (_) │ │_) │ (_│ (_│ │ │_) │  │
 │  \__,_│_│  \___/│ .__/ \___\__,_│ .__/   │
 │                 │_│             │_│      │
 └──────────────────────────────────────────┘ */

.dropcap::first-letter {
        float: left !important;
        font-size: 3rem !important;
        font-style: normal !important;
        font-weight: 500 !important;
        line-height: 2rem !important;
        margin: -0.5rem 0 0 !important;
}

/*
 ┌────────────────────────────────────┐
 │              _ _                   │
 │   __ _  __ _│ │ │ ___ _ __ _   _   │
 │  / _` │/ _` │ │ │/ _ \ '__│ │ │ │  │
 │ │ (_│ │ (_│ │ │ │  __/ │  │ │_│ │  │
 │  \__, │\__,_│_│_│\___│_│   \__, │  │
 │  │___/                     │___/   │
 └────────────────────────────────────┘ */

:root {
        --gallery-gap: 2px;
}

.gallery {
        max-width: 100%;
        min-width: 1px;
        width: var(--gallery-width);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: center;
        gap: var(--gallery-gap) var(--gallery-gap);
        line-height: 0;
        margin-top: 2rem;
        margin-bottom: 2rem;
}

.no-gap {
        gap: 0;
}

.hide-overflow {
        overflow: hidden;
}

.ease-transition {
        transition: all 300ms ease-in-out;
}

.gallery-item .item {
        width: 100%;
        height: 100%;
}

.item {
        flex: 1;
        flex-grow: 0;
        width: 1%;
        height: 1%;
        transition: all 700ms ease-in-out;
}

:root {
        --flex-one: calc(100% - var(--gallery-gap));
        --flex-two: calc(100% / 2 - var(--gallery-gap));
        --flex-three: calc(100% / 3 - var(--gallery-gap));
        --flex-four: calc(100% / 4 - var(--gallery-gap));
        --flex-five: calc(100% / 5 - var(--gallery-gap));
}

.flex-1 {
        flex-basis: var(--flex-one);
}

.flex-2 {
        flex-basis: var(--flex-two);
}

.flex-3 {
        flex-basis: var(--flex-three);
}

.flex-4 {
        flex-basis: var(--flex-four);
}

.flex-5 {
        flex-basis: var(--flex-five);
}

.flex-95 {
        flex-basis: 95%;
}

.flex-90 {
        flex-basis: 90%;
}

.flex-85 {
        flex-basis: 85%;
}

.flex-80 {
        flex-basis: 80%;
}

.flex-75 {
        flex-basis: 75%;
}

.flex-70 {
        flex-basis: 70%;
}

.flex-65 {
        flex-basis: 65%;
}

.flex-60 {
        flex-basis: 60%;
}

.flex-55 {
        flex-basis: 55%;
}

.flex-50 {
        flex-basis: 50%;
}

.flex-45 {
        flex-basis: 45%;
}

.flex-40 {
        flex-basis: 40%;
}

.flex-35 {
        flex-basis: 35%;
}

.flex-30 {
        flex-basis: 30%;
}

.item:hover {
        transform: scale(1.069);
}

@media all and (max-width: 900px) {
        .gallery {
                width: 100%;
        }
        .no-gap {
                gap: 0;
        }
        .flex-2 {
                flex-basis: var(--flex-one);
        }
        .flex-3 {
                flex-basis: var(--flex-two);
        }
        .flex-4 {
                flex-basis: var(--flex-three);
        }
        .flex-5 {
                flex-basis: var(--flex-four);
        }
        .flex-95,
        .flex-90,
        .flex-85,
        .flex-80,
        .flex-75,
        .flex-70,
        .flex-65 {
                flex-basis: var(--flex-one);
        }
}

@media all and (max-width: 600px) {
        .flex-60,
        .flex-55,
        .flex-50,
        .flex-45,
        .flex-40,
        .flex-35,
        .flex-30 {
                flex-basis: var(--flex-one);
        }
}

.gallery-container + .gallery-container {
        margin-top: -1.2rem;
}

/*
 ┌─────────────────────────────────┐
 │      _      _        _ _        │
 │   __│ │ ___│ │_ __ _(_) │___    │
 │  / _` │/ _ \ __/ _` │ │ / __│   │
 │ │ (_│ │  __/ ││ (_│ │ │ \__ \   │
 │  \__,_│\___│\__\__,_│_│_│___/   │
 └─────────────────────────────────┘ */

details {
        border: 1px dotted var(--color-text);
        border-radius: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 2.4rem;
}

details[open] {
        padding-left: 1rem;
        padding-right: 1rem;
}

/*
 ┌───────────────────────────────────────────┐
 │           _           _   _               │
 │  ___  ___│ │ ___  ___│ │_(_) ___  _ __    │
 │ / __│/ _ \ │/ _ \/ __│ __│ │/ _ \│ '_ \   │
 │ \__ \  __/ │  __/ (__│ │_│ │ (_) │ │ │ │  │
 │ │___/\___│_│\___│\___│\__│_│\___/│_│ │_│  │
 └───────────────────────────────────────────┘ */

::selection {
        /* color: var(--color-white); */
        background: var(--color-selection);
}

/*
 ┌────────────────────────────────────────┐
 │                   __                   │
 │  _ __ ___  _   _ / _│ __ _  ___ ___    │
 │ │ '_ ` _ \│ │ │ │ │_ / _` │/ __/ _ \   │
 │ │ │ │ │ │ │ │_│ │  _│ (_│ │ (_│  __/   │
 │ │_│ │_│ │_│\__, │_│  \__,_│\___\___│   │
 │            │___/                       │
 └────────────────────────────────────────┘ */

#myface {
        height: 7rem;
        width: 7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 0.2rem;
}

/*
 ┌─────────────────────────────────┐
 │                     _ _         │
 │  _ __ ___   ___  __│ (_) __ _   │
 │ │ '_ ` _ \ / _ \/ _` │ │/ _` │  │
 │ │ │ │ │ │ │  __/ (_│ │ │ (_│ │  │
 │ │_│ │_│ │_│\___│\__,_│_│\__,_│  │
 └─────────────────────────────────┘ */

.media {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: var(--media-width);
        max-width: 100%;
        position: relative;
        text-align: center;
}

.media > .title {
        line-height: 1.45;
        color: var(--color-subtitle);
        text-rendering: var(--paragraph-text-rendering);
        text-align: center;
        font-family: var(--font-main);
        font-size: var(--subtitle-size);
        font-style: italic;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 1rem;
}

.image {
        max-width: 100%;
        border-radius: 7px;
}

@media all and (max-width: 690px) {
        .image {
                border-radius: 0;
        }
}

/*
 ┌────────────────────────────────────┐
 │      _ _       _     _             │
 │   __│ (_)_   _(_) __│ │ ___ _ __   │
 │  / _` │ \ \ / / │/ _` │/ _ \ '__│  │
 │ │ (_│ │ │\ V /│ │ (_│ │  __/ │     │
 │  \__,_│_│ \_/ │_│\__,_│\___│_│     │
 └────────────────────────────────────┘ */

hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
        max-width: var(--media-width);
        border: solid #dddddf;
        border-width: 1px 0 0;
        clear: both;
        margin: 1.25em 0 1.1875em;
        height: 0;
}

/*
┌─────────────────────────────────────┐
 │                _     _              │
 │  _ __ ___  ___(_)___(_)_ __   __ _  │
 │ │ '__/ _ \/ __│ │_  / │ '_ \ / _` │ │
 │ │ │ │  __/\__ \ │/ /│ │ │ │ │ (_│ │ │
 │ │_│  \___││___/_/___│_│_│ │_│\__, │ │
 │                              │___/  │
 └─────────────────────────────────────┘ */

*,
*::before,
*::after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.header::before,
.header::after,
.writing::before,
.writing::after {
        content: " ";
        display: table;
}

/*
┌─────────────────────────────┐
│  _ _     _   _              │
│ │ (_)___│ │_(_)_ __   __ _  │
│ │ │ / __│ __│ │ '_ \ / _` │ │
│ │ │ \__ \ │_│ │ │ │ │ (_│ │ │
│ │_│_│___/\__│_│_│ │_│\__, │ │
│                      │___/  │
└─────────────────────────────┘ */

ul > li p,
ul,
.ulist .ulist {
        margin-bottom: -0.2rem;
}

/*
 ┌───────────────────────────────────────────┐
 │                    _         _            │
 │  _   _  ___  _   _│ │_ _   _│ │__   ___   │
 │ │ │ │ │/ _ \│ │ │ │ __│ │ │ │ '_ \ / _ \  │
 │ │ │_│ │ (_) │ │_│ │ │_│ │_│ │ │_) │  __/  │
 │  \__, │\___/ \__,_│\__│\__,_│_.__/ \___│  │
 │  │___/                                    │
 └───────────────────────────────────────────┘ */

/*
Adapted from
https://www.codespeedy.com/make-youtube-embed-video-responsive-using-css/
*/
.yt-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
}

.yt-container iframe,
.yt-container object,
.yt-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
}

/*
 ┌───────────────────────────────┐
 │  _        _     _             │
 │ │ │_ __ _│ │__ │ │ ___  ___   │
 │ │ __/ _` │ '_ \│ │/ _ \/ __│  │
 │ │ ││ (_│ │ │_) │ │  __/\__ \  │
 │  \__\__,_│_.__/│_│\___││___/  │
 └───────────────────────────────┘ */

table {
        display: table;
        font-size: var(--table-size);
        word-wrap: break-word;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px peachpuff;
        max-width: 100%;
}

th {
        padding: 1rem;
        text-align: left;
        border-bottom: 1px solid peachpuff;
        border-left: 1px solid peachpuff;
}

td {
        padding: 0.5rem;
        padding-left: 1rem;
        text-align: left;
        border-left: 1px solid peachpuff;
}

.admonitionblock table {
        margin-top: 2rem;
}

@media all and (max-width: 460px) {
        table {
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                width: 100%;
        }

        th {
                padding: 0.4rem;
        }

        td {
                padding: 0.3rem;
        }
}

/*
 ┌───────────────────────────────────────────────┐
 │                 _           _   _             │
 │ __   _____ _ __│ │__   __ _│ │_(_)_ __ ___    │
 │ \ \ / / _ \ '__│ '_ \ / _` │ __│ │ '_ ` _ \   │
 │  \ V /  __/ │  │ │_) │ (_│ │ │_│ │ │ │ │ │ │  │
 │   \_/ \___│_│  │_.__/ \__,_│\__│_│_│ │_│ │_│  │
 └───────────────────────────────────────────────┘ */

.listingblock {
        background: var(--code-bg);
        padding-top: 0;
        padding-bottom: 0;
        text-align: left;
}

.listingblock > pre {
        -webkit-border-radius: 4px;
        border-radius: 4px;
        word-wrap: break-word;
        overflow-x: auto;
        /* padding: 0.2rem; */
}

code {
        background: var(--code-bg);
        font-size: var(--code-size);
        line-height: var(--code-line-height);
        font-family: var(--font-code);
        text-rendering: var(--code-text-rendering);
        padding: 6px;
        border-radius: 8px;
        word-wrap: break-word;
}

pre {
        white-space: pre;
}

pre code,
pre pre {
        /* margin-top: 2rem; */
        /* margin-bottom: 2rem; */
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        margin-right: 1rem;
}

/* This part will show the language of the code block */
/* when hovering on it */

.listingblock code[data-lang]::before {
        display: none;
        content: attr(data-lang);
        position: absolute;
        font-size: 0.9rem;
        right: 3rem;
        text-transform: uppercase;
        color: var(--color-header);
        opacity: 0.5;
}

.listingblock:hover code[data-lang]::before {
        display: block;
}

.listingblock code {
        font-size: 95%;
}

@media all and (max-width: 768px) {
        .listingblock code {
                font-size: 85%;
        }
}

/*
 +-------------------------------------------------+
 |   __             _               _              |
 |  / _| ___   ___ | |_ _ __   ___ | |_ ___  ___   |
 | | |_ / _ \ / _ \| __| '_ \ / _ \| __/ _ \/ __|  |
 | |  _| (_) | (_) | |_| | | | (_) | ||  __/\__ \  |
 | |_|  \___/ \___/ \__|_| |_|\___/ \__\___||___/  |
 +-------------------------------------------------+ */

#footnotes {
        padding-top: 0.75rem;
        margin-left: 4rem;
}

@media all and (max-width: 900px) {
        #footnotes {
                margin-left: 1rem;
        }
}

#footnotes .footnote {
        line-height: 1.7rem;
        font-size: var(--footnote-size);
}

.footnote a {
        color: var(--color-link);
        border-bottom: none;
}

.footnote a:hover {
        font-weight: bold;
}

/* This bit is from asciidoctor */
kbd {
        font-family: var(--font-code);
        display: inline-block;
        color: rgba(0, 0, 0, 0.8);
        font-size: var(--code-size);
        line-height: 1.45;
        background: #f7f7f7;
        border: 1px solid #ccc;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em white inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 0.1em #fff inset;
        margin: 0 0.1em;
        padding: 0.1em 0.5em;
        vertical-align: middle;
        position: relative;
        top: -0.1em;
        white-space: nowrap;
}
